[app]
country = DE
timezone = Europe/Berlin

[workflow]
workday_starts_at = 08:00
workday_ends_at = 18:00
workday_duration = 8

[jira]
team = Loki
project = HIVE
board_id = 533
sprint_offset = 30
sprint_close_time = 18:00
issue_types = Bug, User Story, Spike, Technical Story, Task